.gradle
build
bin
.classpath

# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache

# ignore binary
*.jar
*.zip
*.class

### Mac ###
.DS_Store

### vscode configurations
.vscode
.project
.settings
